/Week 7/jframe-intro-beans/target/
/Week 6/junit-testing-two/target/
/Sem 1 Assessment/degreeClassCalc-v2/target/
/Sem 1 Assessment/DegreeClassCalcV4/target/
/Sem 1 Assessment/DegreeClassCalcV5/target/
